<div class="container">
  <form target="_blank" action="https://formsubmit.co/mfmuzi@gmail.com" method="POST">
    <h2 class="mt-5 mb-5">Entrem em contato conosco</h2>
<div class="mb-3">
    <label for="inputName" class="form-label" >Nome</label>
    <input type="text" class="form-control" name="name">
  </div>
  <div class="mb-3">
    <label for="imputEmail" class="form-label" >E-mail</label>
    <input type="email" class="form-control"  name="email" placeholder="nome@exemplo.com">
  </div>
  <div class="mb-3">
    <label for="inputMessage" class="form-label" >Mensagem</label>
    <textarea class="form-control"  name="message" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-outline-dark" value="submit">Enviar</button>
    <input type="hidden" name="_captcha" value="false">
  </form>
</div>

