<footer class="page-footer font-small pt-3">
  <div class="container">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">
          <li><a href="https://github.com/mfmuzi" class="icoGithub" title="Github">
              <i class="fab fa-github"></i>
            </a></li>
          <li><a href="https://www.linkedin.com/in/mfmuzi/" class="icoLinkedin" title="Linkedin">
              <fa-icon [icon]="faLinkedin"></fa-icon>
            </a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright  text-center py-1 ">
    <span> &copy; 2020 Copyright: </span>
    <a href="#">blog.online</a>
  </div>
</footer>