
<div class="container" >
    <div class="row mt-5 mb-5" >
        <div class="col-md-4" >
            <div class="card" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2019/11/21/14/46/bread-4642686_960_720.jpg" class="card-img-top" alt="Pão Caseiro">
                <div class="card-body">
                  <h5 class="card-title">Pão Caseiro</h5>
                  <p class="card-text">Pão caseiro fofinho sem precisar sovar a massa.</p>                
                  <a class="btn btn-outline-danger" routerLink="/paocaseiro">Receita</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
            <img src="https://media.istockphoto.com/photos/tart-with-strawberries-and-whipped-cream-decorated-with-mint-leaves-picture-id478458806?k=20&m=478458806&s=612x612&w=0&h=D8vE5CtFmkoTzxv1uxvjsrjGpjDfmeKMU-T7akq2uBw=" class="card-img-top" alt="Torta de Morango">
            <div class="card-body">
                <h5 class="card-title">Torta de Morango</h5>
                <p class="card-text">Torta deliciosa e fácilde fazer</p>
                <a routerLink="/tortamorango" class="btn btn-outline-danger">Receita</a>
            </div>
        </div>
        </div>
        <div class="col-md-4" style="width: 18rem;">
            <div class="card" style="width: 18rem;">
          <img src="https://images.freeimages.com/images/premium/previews/1088/10889357-vegetable-salad.jpg" class="card-img-top" alt="Salada Russa">
          <div class="card-body">
              <h5 class="card-title">Salada Russa</h5>
              <p class="card-text">Salada simples, fácil e muito refrescante.</p>
              <a routerLink="/saladarussa" class="btn btn-outline-danger">Receita</a>
          </div>
        </div>
      </div>
    </div>
</div>


