<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2019/11/21/14/46/bread-4642686_960_720.jpg" class="card-img-top"
                    alt="Pão Caseiro">
                <div class="card-body">
                    <h5 class="card-title">Pão Caseiro</h5>
                    <p class="card-text">Pão caseiro fofinho sem precisar sovar a massa.</p>
                    <a class="btn btn-outline-danger" routerLink="/paocaseiro">Receita</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://media.istockphoto.com/photos/tart-with-strawberries-and-whipped-cream-decorated-with-mint-leaves-picture-id478458806?k=20&m=478458806&s=612x612&w=0&h=D8vE5CtFmkoTzxv1uxvjsrjGpjDfmeKMU-T7akq2uBw="
                    class="card-img-top" alt="Torta de Morango">
                <div class="card-body">
                    <h5 class="card-title">Torta de Morango</h5>
                    <p class="card-text">Torta deliciosa, massa fácil de fazer e recheio variado</p>
                    <a routerLink="/tortamorango" class="btn btn-outline-danger">Receita</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://images.freeimages.com/images/premium/previews/1088/10889357-vegetable-salad.jpg"
                    class="card-img-top" alt="Salada Russa">
                <div class="card-body">
                    <h5 class="card-title">Salada Russa</h5>
                    <p class="card-text">Salada simples, fácil e muito refrescante.</p>
                    <a routerLink="/saladarussa" class="btn btn-outline-danger">Receita</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://as2.ftcdn.net/v2/jpg/03/76/95/25/1000_F_376952510_niI6vzlJrCt0RrW7gHL62UTkjJQvcF7F.jpg"
                    class="card-img-top" alt="Salada Russa">
                <div class="card-body">
                    <h5 class="card-title">Pão Recheado</h5>
                    <p class="card-text">Fácil de fazer e muito saboroso. Recheio variado.</p>
                    <a routerLink="/paorecheado" class="btn btn-outline-danger">Receita</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://image.freepik.com/fotos-gratis/foto-de-um-prato-de-sopa-com-sopa-de-creme-de-abobrinha-em-uma-mesa-branca-decorada-com-plantas-verdes_181624-35882.jpg"
                    class="card-img-top" alt="Salada Russa">
                <div class="card-body">
                    <h5 class="card-title">Creme de Palmito</h5>
                    <p class="card-text">Muito cremoso e pronto para comer em 10 min.</p>
                    <a routerLink="/cremepalmito" class="btn btn-outline-danger">Receita</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://image.freepik.com/fotos-gratis/sopa-de-lentilha-com-ervas-picadas-e-bolachas_114579-3534.jpg"
                    class="card-img-top" alt="Salada Russa">
                <div class="card-body">
                    <h5 class="card-title">Sopa de Legumes</h5>
                    <p class="card-text">Sopão prático e ótimo para dias frios.</p>
                    <a routerLink="/sopalegumes" class="btn btn-outline-danger">Receita</a>
                </div>
            </div>
        </div>
    </div>
</div>